<p>template-driven-form works!</p>

<div class="row">
    <div class="col-md-4 col-md-offset-4" style="margin-top: 50px; border: 1px solid rgb(100, 98, 98); padding: 20px;">
        <form class="form-horizantal" role="form" #f="ngForm"(ngSubmit)>
            <fieldset>
                <legend>Address Details:
                    <strong>Template Driven Form</strong>
                </legend>

                <div class="form-group">
                    <label class="col-sm-2" control-label for="textinput">Address</label>
                    <div class="col-sm-10">
                        <input type="text" name="address" placeholder="Enter Address" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label for="col-sm-2 control-label" for="textinput">City</label>
                    <div class="col-sm-10">
                        <input type="text" name="city" placeholder="Enter City Name" class="form-control">
                    </div>
                </div>

                <div class="form-group">
                    <label for="textinput" class="col-sm-2 control-label">
                        State
                    </label>
                    <div class="col-sm-4">
                        <input type="text" name="state" placeholder="state" class="form-control">
                    </div>

                    <label for="textinput" class="col-sm-2 control-label">
                        Postcode
                    </label>
                    <div class="col-sm-4">
                        <input type="text" name="Postcode" placeholder="Enter Post Code" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label for="textinput" class="col-sm-2 comtrol-label">
                        Country
                    </label>
                    <div class="col-sm-10">
                        <select name="Country" class="form-control">
                            <option>---Select---</option>
                            <option *ngFor="let item of countryData" [value]="item">
                                {{ item }}</option>
                        </select>
                    </div>
                </div>

                <div class="formgroup">
                    <div class="col-sm-2 form-check">
                        <input type="textbox" name="aggrement" class="form-check-input">
                    </div>
                    <label class="col-sm-10 form-check-label">I aggree to Terms & Conditions</label>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary" style="margin: 4px;">Save</button>
                            <button type="button" class="btn btn-default">Reset</button>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>